<template>

  <div class="event_list">
    <select name="type" v-model="filters.type">
      <option selected="" value="">---------</option>
      <option :key="k" :value="k" v-for="(v, k) in options.type">{{ v }}</option>
    </select>
    <select id="id_date" name="date">
      <option selected="" value="">---------</option>
      <option value="today">Today</option>
      <option value="week">Past 7 days</option>
      <option value="month">This month</option>

    </select>
    <table>
      <slot name="header" v-bind:object="object">
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Description</th>
          <th>Date</th>
          <th>Type</th>
        </tr>
      </slot>
      <tr :key="object.id" v-for="object in objects" @click="pk=object.id">
        <slot name="object" v-bind:object="object">
          <td>{{ object.id }}</td>
          <td>{{ object.title }}</td>
          <td>{{ object.description }}</td>
          <td>{{ object.date }}</td>
          <td>{{ object.type }}</td>
        </slot>
      </tr>
    </table>
    <slot :count="count" :page="page" :page_size="page_size" name="pagination"><select v-model="page">
      <option :key="p" v-for="p in pages()">{{ p }}</option>
    </select></slot>

    <EventForm :pk="pk" @succes="list(filters)"></EventForm>
  </div>
</template>
<script>
import EventForm from "./EventForm";

export default {
  name: 'listgenerator',
  components: {EventForm},
  data() {
    return {
      objects: [],
      count: 0,
      page: 1,
      page_size: null,
      pk: null,
      options: {type: {}}
    }
  },
  methods: {
    list(filters) {
      let page_params = this.page ? {
        page: this.page
      } : (this.limit ? {
        offset: this.offset,
        limit: this.limit
      } : {});
      this.$http.get('events/', {
        params: {
          ...page_params,
          ...filters
        }
      }).then(r => r.json()).then(
          r => {
            if (r.results) {
              this.objects = r.results;
              this.count = r.count;
            } else {
              this.objects = r;
            }
          }
      );
    },
    pages() {
      let res = [];
      for (let i = 1; i <= Math.ceil(this.count / this.page_size); i++) {
        res.push(i);
      }
      return res;
    },
    offsets() {
      let res = [],
          j = 1;
      for (let i = 0; i <= this.count; i += this.limit) {
        res.push([i, j]);
        j++;
      }
      return res;
    },
    fetch_event_types() {
      this.$http.get('eventtypes', {}).then(r => r.json()).then(
          r => {
            r.forEach((res) => {
              this.options.type[res.id] = res.name
            });
          }
      );
    }
  },
  props: ["filters"],
  watch: {
    filters: {
      handler: function (newVal, oldVal) {

        if (this.page) this.page = 1;
        if (this.offset) this.offset = 0;
        this.list(newVal);
      },
      deep: true
    },
    page(newVal, oldVal) {
      this.list(this.filters);
    },
    offset(newVal, oldVal) {
      this.list(this.filters);
    }
  },
  mounted() {
    this.fetch_event_types();
    this.list(this.filters);
  }
};
</script>