<template>
    <div class="form pt-6">
      <h3 v-if="form.id">Editing event {{form.id}} <button @click="reset">New event</button></h3>
      <h3 v-if="!form.id">New event</h3>
        <div class="summary text-red" v-if="$v.form.$error">
             Form has errors
        </div>
        <form @submit.prevent="submit">
            <div class="flex justify-center my-6">
                <input type="hidden" name="id" v-model="form.id" />
                <div :class="{ 'hasError': $v.form.title.$error }">
                    <strong v-if="errors.title">{{errors.title}}</strong>
                    <label class="mr-2 font-bold text-grey">Title</label><input type="text" name="title" v-model="form.title" />
                </div>
                <div :class="{ 'hasError': $v.form.description.$error }">
                    <strong v-if="errors.description">{{errors.description}}</strong>
                    <label class="mr-2 font-bold text-grey">Description</label><input type="text" name="description" v-model="form.description" />
                </div>
                <div :class="{ 'hasError': $v.form.date.$error }">
                    <strong v-if="errors.date">{{errors.date}}</strong>
                    <label class="mr-2 font-bold text-grey">Date</label><input type="datetime-local" name="date" v-model="form.date" />
                </div>
                <div :class="{ 'hasError': $v.form.type.$error }">
                    <strong v-if="errors.type">{{errors.type}}</strong>
                    <label class="mr-2 font-bold text-grey">Type</label><select name="type" v-model="form.type">
                        <option :value="k" v-for="(v, k) in options.type" :key="k">{{v}}</option>
                    </select>
                </div>
                <div class="text-center">
                    <button type="submit" class="button">
                        Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
</template>
<script>
    import {
        required,
        numeric,
        maxValue,
        minValue,
        maxLength,
        minLength,
        url,
        email
    } from "vuelidate/lib/validators";
    import Vuelidate from 'vuelidate';
    import Vue from 'vue'
    Vue.use(Vuelidate);
    const alwaysInvalid = (value) => false;


    export default {
        name: 'vueform',
        data() {
            return {
                serverErrors: false,
                errors: {},
                form: {
                    id: "",
                    title: "",
                    description: "",
                    date: "",
                    type: ""
                },
                options: {
                    type: {
                        1: "Meeting",
                        2: "Call",
                        3: "Lunch",
                        4: "Human sacrifice"
                    }
                },
                error_messages: {
                    id: {
                        invalid: "A valid integer is required."
                    },
                    title: {
                        required: "This field is required.",
                        invalid: "Not a valid string.",
                        max_length: "Ensure this field has no more than 255 characters."
                    },
                    description: {
                        invalid: "Not a valid string."
                    },
                    date: {
                        required: "This field is required.",
                        invalid: "Datetime has wrong format. Use one of these formats instead: ."
                    },
                    type: {
                        required: "This field is required."
                    }
                }
            }
        },
        methods: {
          reset() {
            this.pk=null;
            for(const k in this.form){
              this.form[k] = '';
            }
          },
            submit() {
                this.serverErrors = false;
                this.$v.form.$touch();
                if (this.$v.form.$error) {
                    Object.keys(this.form).forEach(key => {
                        if (!this.$v.form[key].$invalid) return;
                        this.errors[key] = this.error_messages[key][(Object.keys(this.error_messages[key]).find(err => {
                            return (err !== 'invalid' && !this.$v.form[key][err]);
                        }) || 'invalid')];
                    });
                    return;
                }
                if (this.pk) {
                    this.update();
                } else {
                    this.create();
                }
            },
            fetch(pk) {
                this.$http.get(`events/${pk}/`).then(r => r.json()).then(r => {
                    this.form = r;
                });
            },
          fetch_event_types() {
            this.$http.get('eventtypes', {

            }).then(r => r.json()).then(
                r => {
                  r.forEach((res) =>{this.options.type[res.id]=res.name});
                }
            );
        },
            update() {
                this.$http.put(`events/${this.pk}/`, {
                    ...this.form
                }).then(r => r.json()).then(
                    r => {
                        this.serverErrors = false;
                        this.form = r;
                        this.pk = r.id;
                        this.$emit('success', r);
                    },
                    err => {
                        this.serverErrors = true;
                        this.errors = err.body;
                        this.$v.$reset();
                        this.$v.$touch();
                    }
                );
            },
            create() {
                this.$http.post('events/', {
                    ...this.form
                }).then(r => r.json()).then(
                    r => {
                        this.serverErrors = false;
                        this.form = r;
                        this.pk = r.id;
                        this.$emit('success', r);
                    },
                    err => {
                        this.serverErrors = true;
                        this.errors = err.body;
                        this.$v.$reset();
                        this.$v.$touch();
                    }
                );
            }
        },
        props: ["pk"],
        watch: {
            pk(newVal, oldVal) {
              if(newVal) {
                this.fetch(newVal);
              }
            }
        },
        mounted() {
            if (this.pk) {
                this.fetch(this.pk);
            }
        },
        validations() {
            if (this.serverErrors) {
                let serverValidator = {
                    form: {}
                };
                Object.keys(this.form).forEach(key => {
                    serverValidator.form[key] = this.errors[key] ? {
                        alwaysInvalid
                    } : {};
                });
                return serverValidator;
            } else {
                return {
                    form: {
                        id: {
                            numeric
                        },
                        title: {
                            required,
                            max_length: maxLength(255)
                        },
                        description: {},
                        date: {
                            required
                        },
                        type: {
                            required
                        }
                    }
                };
            }
        }
    };
</script>