<template>
  <div id="app">
    <EventList :filters="filters"></EventList>
      <hr/>
      <hr/>
  </div>
</template>

<script>
import EventList from "./components/EventList";

export default {
  name: 'app',
  components: {
    EventList
  },
  data() {
    return {
      filters: {'state': ''}
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
